.fs-16{
    font-size: 16pt;
}
.cS:hover{
    color: #eed179;
}
.imgbg{
    background-image: url(https://i.imgur.com/b3kMmyU.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: initial;
}