<div class="container-fluid bg2">
    <div class="row">
        <div class="col-md-6 " id="img-bg"></div>
        <div class="col-md-6">
            <div class="row d-flex justify-content-center align-items-center vh-100">
                <div class="col-md-10">
                    <h1 class="mb-5 text-center text-white">Little B</h1>
                    <h2 class="cld">Cadastre-se</h2>

                    <form>

                    <div class="form-group cld">
                        <label for="">Digite seu nome</label>
                        <input [(ngModel)]="usuario.nome" name="nome" id="nome" type="text" class="form-control" placeholder="Nome">
                    </div>
                    
                    <div class="form-group cld">
                        <label for="">Usuario</label>
                        <input [(ngModel)]="usuario.usuario" name="usuario" id="usuario" type="text" class="form-control" placeholder="Email" >
                    </div>

                    <div class="form-group cld">
                        <label for="">Senha</label>
                    <input (input)='confirmSenha($event)' name="senha" id="senha" type="password" class="form-control" placeholder="Senha">
                    </div>

                    <div class="form-group cld">
                        <label for="">Confirmar Senha</label>
                        <input [(ngModel)]="usuario.senha" name="confirmSenha" id="confirmSenha" type="password" class="form-control" placeholder= "Confirmar Senha">
                    </div>

                    <div class="form-group cld">
                        <label for="">Link da foto</label>
                        <input [(ngModel)]="usuario.foto" name="foto" id="foto" class="form-control" placeholder="URL Foto">
                    </div>

                    <div class="form-group cld">
                        <label for="tipo">Selecione o tipo de usuario</label>
                        <select name="tipo" id="tipo" class="form-control" (change)='tipoUsuario($event)' >
                            <option value="">Selecione o tipo de usuario</option>
                            <option value="admin">Administrador</option>
                            <option value="padrao">Padrão</option>
                        </select>
                        
                    </div>

                    <div class="d-flex justify-content-around">
                        <button type="submit" class="btn cS" routerLink= '/entrar'>Cancelar</button>
                        <button type="submit" class="btn btn-outline cS2" (click)='cadastrar()'>Cadastrar</button>
                    </div>
                    </form>
                </div> 
            </div>
        </div>
    </div>
</div>