@import url('https://fonts.googleapis.com/css2?family=Comforter&display=swap');
.bcD{
    background-color: #000;
}
.bcI{
    background-image: url(https://i.imgur.com/eJzkgnO.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: initial;
}
.fSD{
    color: #eed179;
    font-family: Comforter;
    font-size: 150px;
}
.fSD2{
    color: #eed179;
    font-family: Comforter;
    font-size: 60px;
}
.Fsd{
    color: #a9acad;
    font-family: Raleway,ital,wght1;
}
.bD{
    background-color: #a9acad;
    border-inline-color: #eed179;
    border-inline-width: 2px;
}
.bD:hover{
    background-color: #eed179;
    border-inline-color: #a9acad;
    border-inline-width: 2px;
}
.ddd{
    background-color: #eed179;
}
.ddd:hover{
    background-image: url(https://i.imgur.com/6JvavfM.gifv);
}
.ddd2{
    background-color: #a9acad;
}
.ddd2{
    background-image: url(https://i.imgur.com/kDJGpOj.jpg);
}